/*h3 {
  background-color: gray;
  color: #ffffff !important;
  padding: 10px;
}*/
body{
  overflow-x: hidden; 
}
a {
  color: #24609d !important;
}
.width-50 {
  width: 50%;
}
.equis_alert_success {
  color:#155724 !important;
}
.equis_alert_warning{
  color:#856404 !important;
}
.equis_alert_info{
  color:#0c5460 !important;
}
.navbar .nav-link{
  color:rgba(255,255,255,.5) !important;
}
.navbar .nav-link:hover{
  color: rgba(255,255,255,.75) !important;
}
.navbar-brand{
  color: #ffffff !important;
}
#icon_añadir {
  color: #24609d;
}

.icon_edit {
  color: rgba(0,0,0,.3);
}

.icon_edit:hover{
  color: #24609d;
}

#icon_edit, #icon_delete{
  color: rgba(0,0,0,.3);
}

#icon_edit:hover {
  color: #24609d;
}

#icon_delete:hover {
  color: #24609d;
}

.input_perfil {

  border:none; 
  background-color: #fff; 
}

.hrr {
  color: #24609d;
  background-color: #24609d;
  border: 1px solid #24609d;
  width: 100%;
}

.hrg {
  margin-top: 0px;
  margin-bottom: 1rem;
  border: 0;
  border-top-width: 0px;
  border-top-style: none;
  border-top-color: currentcolor;
  border-top: 1px solid rgba(0,0,0,.1);
}

.hrb {
  margin-top: 0px;
  margin-bottom: 1rem;
  border: 0;
  border-top-width: 0px;
  border-top-style: none;
  border-top-color: currentcolor;
  border-top: 1px solid #fff;
}

.table thead th {
  border-bottom: 2px solid #24609d !important;
  font-weight: 400;
  font-size: 12px;
  color: rgba(48,48,48,0.5);
}
.table td, .table th {
  border-top: none !important;
  border-bottom: 1px solid rgba(48,48,48,0.1) !important;
}
.show-ejer td {
   border-bottom: none !important;
}
.border-veredictoV{
    border-left: 15px solid green;
    border-bottom: 1px solid rgba(48,48,48,0.1);
}
.border-veredictoR{
    border-left: 15px solid red;
    border-bottom: 1px solid rgba(48,48,48,0.1);
}
.border-veredictoA{
    border-left: 15px solid yellow;
    border-bottom: 1px solid rgba(48,48,48,0.1);
}
.border-V{
    border-left: 20px solid green;
    padding-left: 10px;
}
.border-R{
    border-left: 20px solid red;
    padding-left: 10px;
}
.border-A{
    border-left: 20px solid yellow;
    padding-left: 10px;
}
.border-V,.border-R,.border-A{
    font-weight: 400;
    font-size: 12px;
    color: rgba(48,48,48,0.5);
}
.table-hover tbody tr.accordion-toggle:hover{
  cursor: pointer;
  background-color: #fff !important;
  box-shadow: 3px 3px 3px #24609d;
  border-color: #24609d !important;
  border-left: 8px solid #24609d;
}
.table-hover tbody tr.show-ejer:hover{
  cursor: pointer;
  background-color: #fff !important;
  box-shadow: 0px 0px 0px #fff;
  border-color: #fff !important;
  border-left: 0px;
}

.table .thead-dark th{
  color: #fff !important;
  background-color: #24609d !important;
  border-color: #24609d !important;
}



.table-fixed tbody {
  height: 180px;
  overflow-y: auto;
  width: 100%;
}

.table-fixed tbody{
  display: block;
  width: 97%;
}
.table-fixed tbody td, 
.table-fixed thead > tr> th {
  float: left;
  
}

.table tr{
  
}


.cabecera{
	padding-top: 20px;

}

#pie{
	color: #24609d !important;
}

.pt-25 {
  padding-top: 125px;
}

.btn-tertiary{

  background-color: #24609d !important;
  color: white;
  border-radius: 30px !important;
  border: 1px solid;
}

.btn-tertiary-border{

  background-color: #fff !important;
  color: #24609d !important;
  border-color: #24609d !important;
  border-radius: 30px !important;
  border: 1px solid;
}

.bg-tertiary{

	background-color: #102b47 !important;
}

.jumbotron-propio{

  padding: 0px;
  margin-top: 5px;
}

.jumbotron-filtro {
    background-color: black;
    color: gray;
    width: 100%;
    height: auto;
    position: absolute !important;
    margin-left: 630px !important;
    z-index: 1;
}

.footer {

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #c4d8eb;
    color: white;
    text-align: center;
}
.footer span{
  color:#58575c;
}

.container-center{

  margin-left: 400px;
  padding-top: 20px;
}

.card {

    border: none !important;
}

.card-body {
  margin-top: -21px;
  margin-bottom: -30px !important;
}

.btn-link {
  color: #24609d !important;
}

/********************************************/

.panel-primary{
  border-color: #24609d;
}

.panel {
    margin-bottom: 5px;
    /*background-color: #fff;*/
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #24609d;
    border-color: #24609d;
}

.panel-heading {
    padding-left: 10px;
    padding-top: 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.panel-footer {
    padding: 5px 10px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

/*************************************************/








/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-3 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-3 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }


  /*MENU LATERAL
-----------------------------------------*/

.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color:  #163a5f;
  position: relative;
  width: 300px;
  height: calc(100vh - 56px);
  color: #fff ;
  float: left; 
}
.nav-side-menu a{
  color:#fff !important;
}

.nav-side-menu .brand {
  background-color:  #24609d;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}

.nav-side-menu .toggle-btn {
  display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;

  /*border-left: 3px solid #fff;*/
  /*background-color: rgba(0,0,0,.5);*/
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
  color:#ffffff;

}

.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #fff;
  background-color:  #24609d;
}

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #ffffff;
  background-color:  #24609d;
}

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #21aba5;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #1d566e;
  border: none;
  line-height: 28px;
  margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #45eba5;
}

.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 40px;
  padding-right: 10px;
  vertical-align: middle;
}

.nav-side-menu li {
  padding: 5px 0 5px 20px;
  border-left: 3px solid #2e353d;
  
}

.nav-side-menu li a {
  text-decoration: none;
  color: #fff;
}

.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}

.nav-side-menu li:hover {
  border-left: 3px solid #fff;
  background-color: #1dd788;  
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}


/* -------Lista de Hojas --- */

.filterable {
    margin-top: 15px;
}

.filterable .panel-heading .pull-right {
    margin-top: -20px;
}

.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}

.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}

.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}

.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}



/******************************************/

/* ---- Timeline ---- */
/*ol {
  position: relative;
  display: block;
  margin: 100px;
  height: 4px;
  background: #31708F;
}*/
/*ol::before,
ol::after {
  content: "";
  position: absolute;
  top: -8px;
  display: block;
  width: 0;
  height: 0;
  border-radius: 10px;
  border: 10px solid #31708F;
}
ol::before {
  left: -5px;
}
ol::after {
  right: -10px;
  border: 10px solid transparent;
  border-right: 0;
  border-left: 20px solid #31708F;
  border-radius: 3px;
}*/

/* ---- Timeline elements ---- */
li .hojita{
  position: relative;
  display: inline-block;
  float: left;
  width: 150px;
  font: bold 14px arial;
  height: 50px;
}
li .diplome {
  position: absolute;
  top: -47px;
  left: 36%;
  color: #000000;
}

li .point {
  content: "";
  top: -4px;
  left: 43%;
  display: block;
  width: 6px;
  height: 6px;
  border: 4px solid #31708F;
  border-radius: 10px;
  background: #fff;
  position: absolute;
}
li .description {
  display: none;
  background-color: #f4f4f4;
  padding: 10px;
  margin-top: 20px;
  position: relative;
  font-weight: normal;
  z-index: 1;
}
.description::before {
  content: '';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #f4f4f4;
  position: absolute;
  top: -5px;
  left: 43%;
}

/* ---- Hover effects ---- */
li:hover {
  cursor: pointer;
  color: #48A4D2;
}
li:hover .description {
  display: block;
}


/* ------ Selecciona archivo ---- */

.custom-file-label {
  border: 1px solid #24609d !important;
  color: #24609d !important;
}
.custom-select {
  border: 1px solid #24609d !important;
  border-radius: 0rem !important;
  color: #24609d !important;
  padding-top: 1px !important;
  height: 31px !important;

}
.custom-select:focus {
  box-shadow: none !important;
}
.custom-select option{
  color: #fff;
  background-color: #24609d !important;

}
.custom-select option:hover{ 
  background-color: #24609d !important;

}

.btn-outline-secondary {
   border: 1px solid #24609d !important;
   background-color: #24609d !important;
   color: white !important;
}

.progress-bar {
  background-color: #24609d !important;
}

div.table-responsive > div.dataTables_wrapper > div.row {
  width: 100%;
}

.table-bordered {
  border: 0px !important;
}
.table.dataTable {
  border-collapse: collapse !important;
}
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
  position: inherit !important;
}
.table-bordered td, .table-bordered th {
  border:0px !important;
}
.table-striped tbody tr:nth-of-type(2n+1) {
  background-color: #fff !important;

}
div.dataTables_wrapper div.dataTables_length label {
  font-size: 12px;
  color: rgba(48,48,48,0.5);
}
select.form-control:not([size]):not([multiple]) {
  height: 30px !important;
  width: 110px;
  padding-top: 1px;
}
#longSelect select.form-control:not([size]):not([multiple]) {
  height: 30px !important;
  width: 100% !important;
  padding-top: 1px;
}
div.dataTables_wrapper div.dataTables_filter label {
  font-size: 12px;
  color: rgba(48,48,48,0.5);
}
div.dataTables_wrapper div.dataTables_filter input {
  height: 30px;
}
div.dataTables_wrapper div.dataTables_length select {
  width: 120px;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 20px !important;
}
.col-sm-6 {
  max-width: 20% !important;
}
.paginate_button a{
  border: 1px solid;
  padding-right: 15px;
  padding-left: 15px;
  margin: 1px;
  padding-top: 1px;
  padding-bottom: 2px;
}
.paginate_button .active a{
  background-color: #24609d;
  color: #fff;
}

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
  border-bottom: 1px solid rgba(48,48,48,0.1) !important;
}

#tabla_crear_hoja_ejercicios .primera{
  padding-right: 20px;
}
#tabla_crear_hoja_ejercicios .form-check-input{
  margin-left: 0px; 
  margin-top: 7px;
}

.message{
  margin-top: 50px;
  margin-left: 70px;
}