*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
    
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 20px;
}

p {
    font-size: 13px;
}

label {
    font-size: 12px;
}

a {
    font-size: 13px;
}

.img_login {
    background-image: url("../img/img_login.jpg"); 
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    width: 50%;
    position: fixed;
    height: 100%;
    opacity: 0.9;
    box-shadow: 6px 6px 5px #999;
}

.img_index {
    width: 100%;
    height: auto;
    z-index: 0;
}

.img_perfil {
    width: 100%;
    height: 800px;
}

.img_icon {
    width: 60px;
}

.img_icon_cerrar {
    width: 50px;
    float: right;
}

.img_icon_menuH {
    width: 50px;
}
.img_icon_menuP {
    width: 25px;
}

.contenedor {
    z-index: 0.9;
    position: absolute;
    top: 150px;
    right:50px;
}
.contenedor-login {
    padding-top: 355px;
    text-align: center;
    color: white;
}
.contenedor-perfil {
    position: absolute;
    top: 55px;
    //left:50px;
    margin-left: 150px;
}
.center {
    //padding: 7px;
    //text-align: left;
    float:right;
    margin-top: 70px;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
/*******MENU-LATERAL**************/

#menu {
    top:0;
    width: 57px;
    height: 100%;
    background-color: black;
    
    position: fixed;
    color: #9b9a9a;
    box-shadow: 4px 4px 5px #999;
    overflow: hidden;
    -webkit-transition: width 0.5s;
    z-index: 1;
}

#menu:hover {
    width: 250px;
    z-index: 1;
    -webkit-transition: width 0.5s;
}

#menu.logo-principal:hover {
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(20deg);
}

.contenedor-item {
    width: 250px;
    height: 30px;
    margin-top: 10px;
}

.active{
    border-left: 5px solid white;
}

.contenedor-item:hover {
    border-left: 3px solid white;
    -webkit-transition: border 0.3s;
}

.contenedor-item p{
    padding-top: 5px;
}

.logo-principal{
    width: 40px;
    height: 40px;
    float:left;
    margin-top: 10px;
}
.logo-principal i {
    font-size: 30px;
    margin-left: 20px;
    margin-top: 3px;
}
.logo-interior{
    width: 40px;
    height: 40px;
    float: left;
}

.logo-interior i {
    font-size: 25px;
    margin-left: 15px;
}

#contenedor-general-espacio {
    margin-top: 150px;
}

/***********MENU-HORIZONTAL***********************/

.navbar {
    margin-left: 54px;
    background-color: black;
    opacity: 0.9;
    z-index: 1;
}

.navbar-light .navbar-brand {
    color: #9b9a9a;
}

.navbar-light .navbar-nav .nav-link{
    color: #9b9a9a;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: white;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: white;
}

.dropdown-menu {
    background: black;
    opacity: 0.9;
    border: 0px;
    border-radius: 0px;
}
.dropdown-item {
    color: white;
}

a {
    color: #9b9a9a ;
}
a:hover {
    text-decoration: none;
    color: #9b9a9a ;
}
a.enlace-login:hover {
    text-decoration: #9b9a9a !important;
    color: #9b9a9a !important;
}
a.enlance:hover {
    text-decoration: #9b9a9a !important;
    color: #9b9a9a !important;
}
.hrr {
    margin-top: 10px;
    margin-bottom: 15px;
    border-top: 1px solid #9b9a9a;
    z-index: 0;
}

.mb-150 {
    margin-bottom: 40px;
}

.text-menu {
    margin-left: 68px;
    line-height: 20px;
}

.text-b {
    font-size: 15px;
    margin-top: 10px;
}
.text-titulo {
    font-size: 20px;
    margin-top: -28px;
    margin-left: 68px;
}
.text-tabla {
    color: black;
}
.text-tabla:hover {
    color: #9b9a9a;
}

.text-conf {
    color: black;
}

.text-conf:hover {
    color: black;
}

.btn-primary {
    border-color: black !important;
    background: black !important;
    opacity: 0.9;
    border-radius: 30px;
    padding: 12px;
    font-size: 12px;
}

.btn-secundary {
    border-color: black !important;
    background: white !important;
    border-radius: 30px;
    padding: 12px;
    color: black;
    opacity: 0.9;
    font-size: 12px;
}

btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(48,48,48,0.3) !important;
}
.btn.focus, .btn:focus {
    box-shadow: 0 0 0 .2rem rgba(48,48,48,0.3) !important;
}

.card {
    border: none !important;
}

div.dataTables_wrapper div.dataTables_length label {
  font-size: 12px;
  color: rgba(48,48,48,0.5);
}

.table-striped-conf tbody tr:nth-of-type(2n+1) {
    background: white !important;
}
.table-striped-conf thead tr {
    background: black;
    color: white;
    opacity: 0.9
}
.table-striped-conf thead tr th {
    width: 2000px;
}

/*.table-striped tbody tr:nth-of-type(2n+1) {
    background: white !important;
}*/
.table-striped thead tr {
    background: black;
    opacity: 0.9;
    color: white;
    font-size: 12px;
}
.table-striped thead tr th {
    width: 200px;
    font-size: 12px;
}
table.dataTable.no-footer {
    border-bottom: none !important;
    border: none;
}

.table-bordered td, .table-bordered th {
    border-bottom: 1px solid #9b9a9a;
    border-left: none;
    border-right: none;
    font-size: 13px;
}
.table.dataTable thead th, table.dataTable thead td {
    font-size: 12px;
}
table.dataTable tbody tr {
    border-bottom: 1px solid #9b9a9a !important;
}

table.dataTable thead .sorting_asc {
    background-image: url("../img/flecha-ampliar.svg") !important;
   
    
}
.table.dataTable tbody th, table.dataTable tbody td {
    font-size: 13px;
}

table.dataTable thead .sorting {
    //background-image: url("../img/flecha-ampliar.svg") !important;
}

table.dataTable thead .sorting_desc {
    background-image: url("../img/flecha-hacia-abajo.svg") !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    font-size: 12px;
}
.dataTables_wrapper .dataTables_length {
    float: right !important;
    margin-left: 15px !important;
}
.dataTables_filter label{
    color: rgba(48,48,48,0.5);
}
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disable {
    background-position: center left !important;
}
table.dataTable tbody tr:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%) !important;
}
.ejercicio_acierto {
    background: linear-gradient(to bottom, #8ab66b 0%, #c9de96 100%) !important;
}
.ejercicio_fallo {
    background: linear-gradient(to bottom, #e55b2b 0%, #f2825b 100%) !important;
}
.fondo_blanco{
    background: linear-gradient(to bottom, #ffff 0%, #ffff 100%) !important;
}
.no-buscar .dataTables_wrapper .dataTables_filter input {
    display: none;
}
.no-buscar .dataTables_wrapper .dataTables_filter label {
    display: none;
}

.container-tabla {
    width: 85%;
    margin-left: 150px;
}

.dataTables_paginate {
    margin-top: 20px;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 10px 10px !important;
    vertical-align: middle;
}

table.dataTable .border-veredictoV{
    border-left: 8px solid green !important;
    //border-bottom: 1px solid rgba(48,48,48,0.1);
}

.border-veredictoR{
    border-left: 8px solid red !important;
    //border-bottom: 1px solid rgba(48,48,48,0.1);
}
table.dataTable .border-veredictoA{
    border-left: 8px solid yellow !important;
   // border-bottom: 1px solid rgba(48,48,48,0.1);
}


.border-V{
    border-left: 20px solid green !important;
    padding-left: 10px;
}
.border-R{
    border-left: 20px solid red !important;
    padding-left: 10px;
}
.border-A{
    border-left: 20px solid yellow !important;
    padding-left: 10px;
}
.border-V,.border-R,.border-A{
    font-weight: 400;
    font-size: 12px;
    color: rgba(48,48,48,0.5);
}

.jumbotron-propio {
}

.modal-content {
    text-align: center;
    background: black;
    border-radius: 0px;
    color: white;
}
.nav-ayuda {
    width: 460px;
    background: black;
    color: white;
    padding: 40px;
    position: relative;
    top: -100px;
    margin-bottom: -170px;
}
.configuration:hover {
    border-left: 6px solid #9b9a9a;
    box-shadow: 4px 4px 4px #9b9a9a;

}

.modal-body {
    text-align: left;
}


section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#tabs h6.section-title{
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: black;
    opacity: 0.8;
    font-size: 12px;
    max-width: 190px;
}

.container {
    max-width: 1195px;
}

.form-group {
    //padding-left: 90px;
    //padding-top: 30px;
}

.habilitar {
    color: #9b9a9a;
}

.modal {
    top: 100px;
}

.btn-edit {
    padding-left: 55px;
    padding-right: 55px;
    font-size: 12px;
}

.btn-habilitar {
    padding-left: 62px;
    padding-right: 62px;
    font-size: 12px;
}

.scroll {
    overflow-y:scroll;
    height:250px;
}

.color-white {
    background: white !important;
}

.text-white{
    color: black !important;
}
.modal-header {
    border-bottom: 1px solid #e9ecef;
}
.border-bottom {
    border-bottom: 2px solid black !important;
}

span.red{
  color: red;
}
.modal-xlg {
    max-width: 1000px;
}

.form-control {
    font-size: 13px;
}

.custom-select {
    padding-left: 13px;
    height: 30px;
    font-size: 12px;
    background-size: 8px 8px;
}

.dropdown-item.active, .dropdown-item:active {
    background: none;
}

.dataTables_filter input {
    padding-left: 10px;
}

.dataTables_length select{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px !important;
}

.cursor {
    cursor: pointer;
}

/* Avisos */
.marcarLeidos, .mostrarTodos, .marcarTodosLeidos, .mostrarNuevos{
  padding-top: 15px;
  text-align: center;
}
.marcarLeidos:hover, .mostrarTodos:hover, .marcarTodosLeidos:hover, .mostrarNuevos:hover{
  color: #24609d ;
  cursor:pointer;
  padding-top: 15px;
}
/*Fin avisos*/

.left_title{
    margin-left: 40%;
    width: 50%;
    text-align: right;
}

.margin-ok{
    margin-top: 3%;
    margin-left: 40%;
    text-align: justify;
    width: 50%;
}

.margin-ok p{
    font-size: 14px;
}

.btn-link{
    width: 100%;
    text-align: left;
}

.card-header {
    background: white;
}
.collapse {
    background: rgba(0,0,0,0.1);
}
.fa-plus{
    text-align: right;
    position: absolute;
    top: 25px;
}

#select_hoja {
    width: 25%;
    float: left;
    position: relative;
    font-size: 15px;
    padding-left: 9px;
}

.resaltado:hover{
    background-color: #E6E6E6 !important;
    cursor: pointer;
}

.table-striped-config tbody tr:nth-of-type(2n+1) {
    background: white;
}
.table-striped-config thead tr {
    background: black;
    color: white;
    opacity: 0.9
}
.table-striped-config thead tr th {
    width: 2000px;
}

#nav-table-structure #employee_data_length{
    display: none;
} 
#nav-table-structure #employee_data_filter{
    display: none;
} 
#nav-table-structure #employee_data_paginate{
    display: none;
} 

.VBar{
    width:3px;
    height:200px;
    margin-top: 70px;
    background-color: black;
}